<script defer src="/js/testScript.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<form action="/update" method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Название товара</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{currentItem.name}}" name="name">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Картинка</label>
    <input type="file" class="form-control"  id="file-upload" value="{{currentItem.image}}" name="image">
  </div>
  <input type="hidden" name="hiddenId" value="{{currentItem._id}}">
  <input type="hidden" id="imageHidden" name="imageHidden" value="">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

