
<section class="first-screen"><a name="about"></a>

<h4 class="text-center">{{ otvet }}</h4>

<section class="first-screen">
<div class="head-const">
<div class="left-side">
<span class="head-text">Любые изделия из стекла и зеркала под заказ!
Дизайнерские проекты! Изготовление по индивидуальным размерам!
Полный пакет услуг.
Мы одни из первых на рынке данного направления!
Опыт работы более 17 лет! Качество наших изделий превосходит все ожидания!
Все проекты делаются всегда в срок без задержек!
Мы гарантируем нашим заказчикам качественный сервис!</span>
<br>
  <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Узнать больше</button>
<img src="/img/light-clip-art-24.png"  class="ball1">
<img src="/img/light-clip-art-24.png"  class="ball2">
</div>

<div class="right-side">
    <img src="/img/15-Transparent-Glass-PNG-Effects-_-Nik-Creations.png"  class="right-image">
</div>

</div>


</section>


<h2>Наши преимущества<a name="preim"></a></h2>

<section class="advantages">
  <div class="card" style="width: 150px; border: 1px solid #5bc0de">
  <img src="/img/experience.svg" class="card-img-top" style="width: 50px;">
  <div class="card-body">
    <p class="card-text">Многолетний опыт</p>
  </div>
</div>
<img src="/img/light-clip-art-24.png"  class="ball3">
 <div class="card" style="width: 150px; border: 1px solid #5bc0de">
  <img src="/img/diamond.svg" class="card-img-top" style="width: 50px;">
  <div class="card-body">
    <p class="card-text">Лучшее изделие</p>
  </div>
</div>

 <div class="card" style="width: 150px; border: 1px solid #5bc0de">
  <img src="/img/clock.svg" class="card-img-top" style="width: 50px;">
  <div class="card-body">
    <p class="card-text">Быстрое исполнение</p>
  </div>
</div>

 <div class="card" style="width: 150px; border: 1px solid #5bc0de">
  <img src="/img/slippers.svg" class="card-img-top" style="width: 50px;">
  <div class="card-body">
    <p class="card-text">Комфортный сервис</p>
  </div>
</div>
<img src="/img/light-clip-art-24.png"  class="ball4">
 <div class="card" style="width: 150px; border: 1px solid #5bc0de">
  <img src="/img/guaranteed.svg" class="card-img-top" style="width: 50px;">
  <div class="card-body">
    <p class="card-text">Гарантия качества</p>
  </div>
</div>

</section>

<h2>Каталог</h2><a name="catalog"></a>

<section class="catalog">
<div class="card" style="width: 250px; border: 1px solid #5bc0de">
  <img src="/img/catalog/4952_277543_bg.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Душевые перегородки</h5>
    <a href="/shower" class="btn btn-info">Перейти </a>
  </div>
</div>

<div class="card" style="width: 250px; border: 1px solid #5bc0de">
  <img src="/img/catalog/1c517408ab6956c3b6d3fadaa84d5534.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Межкомнатные двери</h5>
    <a href="/doors" class="btn btn-info">Перейти</a>
  </div>
</div>
<img src="/img/light-clip-art-24.png"  class="ball5">
<div class="card" style="width: 250px; border: 1px solid #5bc0de">
  <img src="img/catalog/img11221_10010_big.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Зеркала<br></h5>
    <a href="/mirror" class="btn btn-info">Перейти</a>
  </div>
</div>

<div class="card" style="width: 250px; border: 1px solid #5bc0de">
  <img src="/img/catalog/c7df2bcc_e6aa_11e9_80cd_0cc47ab40637_c7df2bcd_e6aa_11e9_80cd_0cc47ab40637.resize1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Еврозеркала<br><span>wbfhuwb</span></h5>
    <a href="/euro-mirror" class="btn btn-info">Перейти</a>
  </div>
</div>

<div class="card" style="width: 250px; border: 1px solid #5bc0de">
  <img src="/img/catalog/604638082_w200_h200_steklyannye-vitriny-dlya.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Полки, витрины, УФ склейка</h5>
    <a href="/shelves" class="btn btn-info">Перейти</a>
  </div>
</div>

<div class="card" style="width: 250px; border: 1px solid #5bc0de">
  <img src="/img/catalog/707294855_w640_h640_steklyannyj-fartuk-dlya.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Скинали<br><span>wbfhuwb</span></h5>
    <a href="skinali" class="btn btn-info">Перейти</a>
  </div>
</div>

</section>

<h2>Как нас найти</h2><a name="map"></a>
<h3>ТЦ "Твой Дом" Крокус Сити 66 км МКАД , Москва</h3>
<section class="contacts">
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Быстрый старт. Размещение интерактивной карты на странице</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script src="https://api-maps.yandex.ru/2.1/?apikey=8e8f6e82-8d64-4bc5-a2b3-b39459140256&lang=ru_RU"
    type="text/javascript">
    </script>
  <script type="text/javascript">
    ymaps.ready(init);
    function init() {
      var myMap = new ymaps.Map("map", {
        center: [55.76, 37.64],
        zoom: 7
      });
      var myGeoObject = new ymaps.GeoObject({
        geometry: {
          type: "Point", // тип геометрии - точка
          coordinates: [55.821143, 37.387981] // координаты точки
        }
      });

      // Размещение геообъекта на карте.
      myMap.geoObjects.add(myGeoObject);
      myMap.behaviors.disable('scrollZoom');
    }
  </script>
</head>

<body>
  <div id="map" style="width: 100%; height: 500px;"></div>
</body>

</html>
</section>
